<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="ruleta" routerLink="/ruleta">
      <ion-icon name="dice-outline"></ion-icon>
      <ion-label>Ruleta</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="minijuegos" routerLink="/minijuegos">
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>Minijuegos</ion-label>
    </ion-tab-button>

    <!-- Botón central para la moneda -->
    <div class="central-button-wrapper">
      <ion-tab-button tab="tienda" routerLink="/tienda" class="central-button">
        <ion-icon name="cash-outline"></ion-icon>
      </ion-tab-button>
    </div>

    <ion-tab-button tab="videos" routerLink="/videos">
      <ion-icon name="videocam-outline"></ion-icon>
      <ion-label>Vídeos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" routerLink="/perfil">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
