body {
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
  font-family: 'Roboto', sans-serif;
}

.roulette {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: radial-gradient(circle, var(--background-color), #000);
  border: 5px solid var(--primary-color); 
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.3); 
}

.spin-button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 50px;
  padding: 15px 40px;
  color: var(--ion-background-color); 
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.spin-button:hover {
  background-color: var(--accent-color); 
}

ion-button {
  --background: var(--accent-color);
  --color: var(--text-color); 
  --background-activated: var(--primary-color); 
}
